@font-face
 {
  font-family: 'egyTitles';
  src: url('../fonts/egyptian_font_titles/EgyptianNights-yAOV.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face
 {
  font-family: 'egyParagraphs';
  src: url('../fonts/monainn-font/MonainnRegular-RpWKo.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face
 {
  font-family: 'egyParagraphsCHOICE2';
  src: url('../fonts/grotley-font/GrotleyRegular-mLEWv.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}



.theBigContainer {
  width: 100%;
  overflow-x: hidden;

}
body {
  overflow: hidden;
}

/* Styling for each scene:: div */
.pyramidsScreenDiv, .secondScreenDiv 
{
  width: 100%;
  height: 100vh; /* / WINDOW THINGG* Adjust height as necessary, or make it dynamic based on content */ 
  position: relative;  
 

}
.thirdScreenDiv{
  width: 100%;
  height: 100vh; 
  position: relative;  
  background-color:  rgb(17, 27, 58);

}

/* Titles and paragraphs of content  */
.sceneTitle {
  font-size: 7rem;
  /* color: #fff; White color for the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
  /* margin: 20px; */

  font-family: egyTitles;
  /* font-size: 500%; */
 color: rgb(8, 17, 73);
 margin: 0; 
  width: 100%;
  margin-left: 30%;
}

.infoArticle {
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.347); /* Semi-transparent background */
  border-radius: 8px;
  margin: 20px;
  width: 80%; /* Set a width relative to the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box-shadow for a lifted paper effect */
}

.sceneParagraphInformation {
  font-family: egyParagraphs;
  /* background-color: rgba(192, 187, 187, 0.356); Black color with 50% opacity */
  font-size: 2rem;
  color: #333; /* Dark gray color for the text */
}

/*  parallax layers  */
.parallax-layer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styling :: parallax effect and elements sows well on different devices */
@media (max-width: 768px) {
  .sceneTitle {
    font-size: 1.5rem;
  }

  .infoArticle {
    padding: 10px;
    margin: 10px;
  }

  .sceneParagraphInformation {
    font-size: 0.8rem;
  }
}

/* 
***************************************************
navigation dots 
***************************************************
 */
 .navigationDots {
  position: fixed;
  top: 50%;
  right: 5rem;   /*here ******************************/
  transform: translateY(-100%);
  z-index: 100;
}

.dot {
  height: 2em;
  width: 2em;
  margin-bottom: 10px;
  background-color: #1313804a;
  border-radius: 50%;
  display: block;
  cursor: pointer;
     display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot .fa-icon {
    font-size: 1rem; 
  }
  
  .planeNavIcon
  {
    color: white;
    transform: scale(0.9);
  }







